extends layout

block content
  #wrapper.toggled
    .overlay
    #chanChanger
    #chanContainer.chanContainer
      #ccContent.ccContent
        ul.nav.sidebar-nav
          li.sidebar-brand
            a(href='#') Tely.io
          each category in categories
            if catChan[category['categoryId']].length > 1
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown') #{category['categoryName']}
                  span.caret
                ul.dropdown-menu(role='menu')
                  li.dropdown-header
                  each chan in catChan[category['categoryId']]
                    li
                      a(href='#' + chan['channelId'], onclick='changeChan( #{val.link} )') #{chan['channelName']}
            else
              li
                a(href='#' + category['categoryId'] + '0', onclick='changeChan( #{val.link} )') #{category['categoryName']}
          #broadcastSignup.control-group
            button.btn.btn-primary.active(type='button', data-toggle='modal', data-target='#modal-fullscreen') Start Live Channel
    #page-content-wrapper
      .container-fluid
        .row
          #jwplayer
            script(src='//content.jwplatform.com/players/vcCWOCbs-Hfok2Nah.js')
  #modal-fullscreen.modal.modal-fullscreen.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    #modal-signup.modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title
        .modal-body
          .row.visible-xs.hidden-sm
            .col-xs-6
              h3 Broadcasting is invite only. Request an invite:
              form
                .form-group
                  input#email.form-control(type='email', placeholder='Enter Email')
                |
                button.btn.btn-default(type='submit') Request
            .col-xs-6
              h3 Or wow us with a video for early access.
              form
                .form-group
                  input#url.form-control(type='url', placeholder='Video URL')
                |
                button.btn.btn-default(type='submit') Send
          .row.hidden-xs.visible-sm.visible-md.visible-lg
            .col-sm-2
            .col-sm-4
              h3 Request invite
              p Broadcasting on Live:one is currently invite only. Request an invite below.
              form
                .form-group
                  input#email.form-control(type='email', placeholder='Enter Email')
                |
                button.btn.btn-default(type='submit') Request
            .col-sm-4
              h3 Or... Can't wait for an invite?
              p Send us a demo (unedited) and if you wow us, you'll get early access.
              form
                .form-group
                  input#url.form-control(type='url', placeholder='Video URL')
                |
                button.btn.btn-default(type='submit') Send
        .modal-footer
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close